.feedback-info-modal{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9000;
    width: 100%;
    overflow: auto;
    height: 100vh;
    background-color: transparent;
}

.updatetab{
    background: #ffcb77;
    padding: 5px 5px;
    font-family: cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
}


.updatetab a{
    margin-left: 5px;
    color: black;
    transition: color 0.3s ease-in-out;
}

.updatetab a:hover{
    color: rgba(247, 77, 51, 0.904);
}



.navbar{
    background-color: #f2f2f2;
    padding: 10px 60px 0px 60px;
}

.navbar-brand{
    /* letter-spacing: 1.2px; */
    font-weight: bold;
    font-size: 1.6rem;
    font-family: 'Fredoka One', cursive;
    padding: 0 6px 0 0;
    margin-left: 15px;
}

.navbar-inner{
    /* position: relative; */
}

.navbar-new-icon{
    /* background: red; */
    position: relative;
}

.icon-new{
    position: absolute;
    color: white;
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -5px;
    right: -7px;
    font-weight: bold;
    border-radius: 50%;
    font-size: 0.62rem;
    animation-name: iconnew;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes iconnew{
    0%{background: #ff9e00;}
    25%{background: #ff9100;}
    50%{background: #ff8500;}
    75%{background: #ff7900;}
    100%{background: #ff9e00;}
}


.navbar-brand a{
    color: #F39C13;
}

.homepage-search-form{
    width: 340px;
}


.navbar-icons{
    display: flex;
    font-size: 1.2rem;
    margin-bottom: 0;
    padding-left: 0.5rem;
}

.navbar-icons li{
    padding: 0rem 0.5rem;
}


.navbar-icons li i{
    cursor: pointer;
}

.navbar-icons li i:hover{
    color: lightslategrey;
}


.navbar-icons li a{
    color: black;
}

.update-li{
    position: relative;
    animation-name: updateicon;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes updateicon{
    0%{color: #000;}
    25%{color: #ff9100;}
    50%{color: #ff8500;}
    75%{color: #ff9100;}
    100%{color: #000;}
}

.update-box{
    position: absolute;
    z-index: 2;
    background: white;
    margin-top: 0.7rem;
    right: 0;
    width: 21rem;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border: 1px solid lightgrey;
}

.update-box header{
    padding: 0.5rem;
    font-size: 0.95rem;
    background: lightgrey;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.update-inner{
    overflow-y: scroll;    
    height: 21rem;
}

.update-inner p{
    font-size: 0.9rem;
}

.update-content{
    background: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column; 
    padding-left: 1rem;
    padding-top: 1rem;
    border-bottom: 0.1px solid lightgrey;
}

.update-content span{
    font-size: 0.75rem;
    color: darkslategrey;
}

.update-content p{
    font-size: 0.9rem;
}

.feedbackbtn{
    color: black; 
    /* font-weight: bold; */
}


/* Feedback Section */
.main-feedback{
    /* background-color: lightseagreen; */
    font-family: 'Balsamiq Sans', cursive;
    text-align: center;
    padding-top: 10px;
}


/* Question 1 */

.q1{
    /* background-color: sienna; */
    margin-bottom: 15px;
}

.q1 h3{
    font-size: 1.1rem;
    /* margin-bottom: 20px; */
}

.q1 div{
    /* background-color: springgreen; */
    font-size: 0.9rem;
}

/* Question 2 */
.q2{
    /* background-color: springgreen; */
    margin-bottom: 15px;
}

.q2 h3{
    font-size: 1.1rem;
    /* margin-bottom: 20px; */
}

.q2 select{
    /* background-color: tomato; */
    padding: 0 20px;
}

/* Question 3 */
.q3{
    /* background-color: springgreen; */
    margin-bottom: 15px;
}

.q3 h3{
    font-size: 1.1rem;
    /* margin-bottom: 20px; */
}

.q3 select{
    /* background-color: tomato; */
    padding: 0 20px;
}

/* Question 4 */

.q4,.q6{
    /* background-color: yellow; */
    margin-bottom: 15px;
}

.q4 h3,.q6 h3{
    font-size: 1.1rem;
    /* margin-bottom: 20px; */
}

/* Question 5 */

.q5{
    /* background-color: sienna; */
    /* border-bottom: 1px solid black; */
    margin-bottom: 15px;
}

.q5 h3{
    font-size: 1.05rem;
    /* margin-bottom: 20px; */

}

.q5 div{
    /* background-color: springgreen; */
    font-size: 0.9rem;
}

.main-feedback-inner button{
    /* background-color: rgb(105, 170, 125); */
    background: #F39C13;
    outline: none;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    transition: background 0.2s ease-in-out;
}

.main-feedback-inner button:hover{
    background: #d89323;
}


@media (max-width: 500px){
    body{
        padding-bottom: 190px;
    }


    .updatetab{
        font-size: 0.75rem;
        font-family: unset;
    }

    .updatetab a{
        border-bottom: unset;
        color: rgba(247, 77, 51, 0.904);
    }

    .navbar{
        padding: 10px 15px 10px 0px;
    }

    .navbar-brand{
        margin-left: 11px;
    }

    /* Feedback section */
    .q1 h3,.q2 h3,.q3 h3,.q4 h3,.q5 h3,.q6 h3{
        font-size: 1rem !important;
    }


    /* Icon new */
    .icon-new{
        width: 21px;
        height: 20px;
        right: 243px;
        font-size: 0.51rem;
    }
}