.change-div{
    display: flex;
    justify-content: center;
    align-items: center;   
}

.changepass-main-content-inner{
    /* background-color: teal; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin-top: 160px;
}

.changepass-box{
    /* background-color: tomato; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 2px solid black;
}

.changepass-form button{
    outline: none;
    border: none;
    background-color: #F39C13;
    padding: 5px 6px;
}

.changepass-character-box{
    /* background-color: violet; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.changepass-img{
}

.changepass-img img{
    width: 370px;
}

.changepass-box-content p{
}

.changepass-box-content p{
    font-family: 'Pacifico', cursive;
    text-align: center;
    font-size: 2.4rem;
    margin: 0;
}

.changepass-box-content h6{
    font-weight: bold;
}

@media (max-width:500px){
    .changepass-main-content-inner{
        grid-template-columns: 1fr;
        grid-gap: 40px;
    }

    .changepass-box{
        border-right:unset;
    }

    .changepass-form h3{
        font-size: 1.3rem;
        margin-bottom: 1.2rem;
    }

    .changepass-img img {
        width: 250px;
    }

    .changepass-box-content h6{
        font-size: 0.92rem;
    }
}