.sheet-inner{
    padding-top: 20px;
}

/* Sheet Box Header */
.sheet-box-header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-bottom: 10px;
  }
  
  .sheet-box-header-img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .sheet-box-header-img img {
    width: 400px;
  }
  
  .sheet-box-header-content p{
    margin-bottom: 0px;
  }

  .sheet-box-header-content {
    /* background-color: violet; */
    /* width: 60%; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .sheet-box-header-content header {
    color: #fd9d0e;
    font-size: 2rem;
    font-weight: 900;
    letter-spacing: 2px;
    font-family: "Spirax", cursive;
  }
  
  .sheet-box-header-content p {
    font-size: 1.1rem;
  }
  
  .sheet-box-header-content h4 {
    letter-spacing: 1px;
    font-size: 1.65rem;
  }
  
  .sheet-box-header-quote {
    font-size: 1rem;
    text-align: right;
    font-family: "Dancing Script", cursive;
  }
  
  .sheet-box-header-content hr {
    margin: 0 0 10px 0;
  }
  
  .sheet-box-header-skeleton {
    width: 600px;
  }

/* Sheet content */

.sheet1-container{
  
    padding: 10px 0 20px 0;
    /* background: red; */
}

.sheet1-inner{
    /* background: rebeccapurple; */
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-gap: 10px;
}

.sheet-inner a{
  color: black;
}

.sheet-name{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Pacifico', sans-serif;
    height: 175px;
    border-radius: 50%;
    background: #e76f51;
    transition: all 0.2s ease-in-out;
}

.sheet-name:hover{
  transform: scale(1.05);
}

.sheet-name p{
    font-size: 1.2rem;
    font-weight: bold;
}

.sheet-description{
    padding: 10px 10px 10px 10px;
    background: #f2f2f2;
    border-radius: 10px;
    box-shadow: black;
    display: grid;
    grid-template-columns: 1fr;
    font-size: 1.1rem;
    grid-gap: 30px;
}

.sheet-description>.info{
  font-size: 1rem;
}


.sheet-description>.info a{
  /* border-bottom: 1px solid black; */
  font-family: "Pacifico", sans-serif;
  color: #e76f51;
}

.sheet-description>.info a:hover{
  color: #da7c64;
}

.sheet-description>.info>div{
  margin-top: 3px;
}

.sharebtns{
    /* background: chartreuse; */
    position: relative;
}

.youtube{
    position: absolute;
    right: 0;
}

.youtube a{
    color: black;
    transition: color 0.2s ease-out;
}

.youtube h6{
    margin: 0;
    padding: 0;
}

.youtube a:hover{
    color: red;
}

.subscribe{
    /* background: yellow; */
    position: relative;
}

.subscribebtn, .subscribed{
    position: absolute;
    right: 0;
    bottom: 0;
    border: none;
    outline: none;
    background: black;
    font-weight: 600;
    color: white;
    padding: 6px 8px;
    border-radius: 7px;
    font-size: 0.9rem;
    transition: background 0.2s ease-out;
}

.subscribed{
  background: grey;
}

.subscribebtn:hover{
    background: red;
}

/* Sheet Bottom */
.sheet-box-bottom {
    /* background-color: burlywood; */
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 12px;
    /* justify-content: space-around;
      align-items: center; */
  }
  
  .sheet-box-bottom-header {
    font-size: 1.5rem;
    /* background-color: crimson; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .sheet-box-bottom-header-skeleton {
    width: 600px;
  }
  
  .sheet-box-bottom-header a {
    margin: 0 6px;
    color: #fd9d0e;
    font-family: "Pacifico", cursive;
  }
  
  .sheet-box-bottom-img img {
    width: 450px;
  }
  
  .sheet-box-bottom-skeleton {
    width: 380px;
  }
  
  .sheet-box-bottom-header {
    width: 600px;
  }

@media (max-width: 500px) {
  /* Sheet Box Header */
  .sheet-box-header {
      grid-template-columns: 1fr;
  }

  .sheet-box-header-content header{
    font-size: 1.8rem;
    text-align: center;
  }

  .sheet-box-header-img{
    display: flex;
    justify-content: center;
  }

  .sheet-box-header-img img {
    width: 250px;
  }

  .sheet-box-header-content {
    order: 1;
    width: unset;
  }

  .sheet-box-header-content p {
    font-size: 0.95rem;
  }

  .sheet-box-header-content h4 {
    font-size: 1.3rem;
  }

  .sheet-box-header-skeleton {
    width: 290px;
  }

  .sheet-box-header-content {
    width: unset;
  }

  .sheet-box-header-content p {
    font-size: 1rem;
    text-align: center;
  }

  .sheet-box-header-content h4 {
    font-size: 1.4rem;
  }

  .sheet-box-header-skeleton {
    width: 290px;
  }


      /* Sheet info */
    
    .sheet1-inner{
        grid-template-columns: 1fr;
    }

    .sheet-name{
        height: unset;
        border-radius: unset;
        background: unset;
    }

    .sheet-name p{
        font-size: 1.4rem;
    }

    .youtube{
        right: unset;
        left: 0;
    }

    .sheet-description{
        grid-gap: 40px;
    }

    .sheet-description p{
        margin-bottom: 0px;
        font-size: 1.05rem;
    }

    .sheet-description>.info{
      font-size: 1rem;
    }

}

