.forgot-main-content-inner{
    /* background-color: teal; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin-top: 160px;
}

.form-box{
    /* background-color: tomato; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 2px solid black;
}

.forgot-form button{
    outline: none;
    border: none;
    background-color: #F39C13;
    padding: 5px 6px;
}

.forgot-character-box{
    /* background-color: violet; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.forgot-img{
}

.forgot-img img{
    width: 370px;
}

.forgot-box-content p{
}

.forgot-box-content p{
    font-family: 'Pacifico', cursive;
    text-align: center;
    font-size: 2.4rem;
    margin: 0;
}

.forgot-box-content h6{
    font-weight: bold;
}

@media (max-width:500px){
    .forgot-main-content-inner{
        grid-template-columns: 1fr;
        grid-gap: 40px;
    }

    .form-box{
        border-right:unset;
    }

    .forgot-form h3{
        font-size: 1.3rem;
        margin-bottom: 1.2rem;
    }

    .forgot-img img {
        width: 250px;
    }

    .forgot-box-content h6{
        font-size: 0.92rem;
    }
}