.main-content{
    /* background: red; */
}


.practice-inner{
    padding-top: 45px;
}

.sheets{
  padding: 20px 0px 40px 0px;
}

.categories{
    margin-bottom: 30px;
}

.sheetname{
    margin: 0 10px;
    padding: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 13px;
    background-color: rgb(230, 182, 27);
    transition: color 0.3s ease-in-out;
}

.sheetname p{
    font-size: 1.2rem;
    margin-bottom: 0px;
}

.sheet1{
    background-color: #e76f51;
}

.sheet2{
    background-color: #f6bd60;
}

.sheets a:hover{
    color: rgb(88, 105, 105);
}


/* Practice Box */
.practice-box-header {
    /* background-color: violet; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
  }
  
  .practice-box-header-img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .practice-box-header-img img {
    width: 300px;
  }
  
  .practice-box-header-content {
    /* background-color: violet; */
    width: 60%;
  }
  
  .practice-box-header-content header {
    color: #fd9d0e;
    font-size: 2.2rem;
    letter-spacing: 2px;
    font-family: "Dancing Script", cursive;
  }
  
  .practice-box-header-content p {
    font-size: 1rem;
  }
  
  .practice-box-header-content h4 {
    letter-spacing: 1.5px;
    font-size: 1.5rem;
  }
  
  .practice-box-header-quote {
    text-align: right;
    font-family: "Dancing Script", cursive;
  }
  
  .practice-box-header-content hr {
    margin: 0 0 10px 0;
  }
  
  .practice-box-header-skeleton {
    width: 600px;
  }


/* Filter Section */
.practice-filter-box {
    /* background-color: yellowgreen; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin-bottom: 10px;
}

.check{
    /* background-color: blue; */
    width: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.rightfilters{
    /* background-color: blanchedalmond; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}

.showtags,.shuffle{
    /* background: chartreuse; */
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#shuffle{
    cursor: pointer;
    font-family: "Dancing Script", cursive;
    transition: transform 0.2s ease-out;
    animation-name: scale;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.showtags input{
    margin-right: 10px;
}

.showtags label, .shuffle label{
    font-size: 1rem;
}

.dropdown-box-content {
    /* background: red; */
    width: fit-content;
    display: flex;
    justify-content: center;
}

.dropdown-box-content select {
    margin-right: 17px;
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
    background-color: white;
    font-weight: bold;
}

.problem-search-box {
    /* background-color: teal; */
    width: 380px;
}

.problem-searchbox-btn {
    outline: none;
    text-decoration: none;
    border: none;
    /* background-color: rgb(40, 149, 221); */
    background: rgb(139, 212, 200);
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
    padding: 0 10px;
    margin-left: 15px;
    transition: background 0.2s ease-in-out;
}

.problem-searchbox-btn:hover {
    background: rgb(88, 192, 192);
}


/* Scroll up */
.scrollup {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px 0px;
  }
  
  .scrollup i{
      padding: 0px 10px;
  }

  .scrollup p{
    margin-bottom: 0px;
  }

@keyframes scale{
  0% {transform: scale(1);}
  50% {transform: scale(1.4);}
  100% {transform: scale(1);}
}


/* Practice Bottom Box */
.practice-box-bottom {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 12px;
  }
  
  .practice-box-bottom-header {
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .practice-box-bottom-header-skeleton {
    width: 600px;
  }
  
  .practice-box-bottom-header a {
    margin: 0 6px;
    color: #fd9d0e;
  }
  
  .practice-box-bottom-img img {
    max-width: 450px;
  }
  
  .practice-box-bottom-skeleton {
    width: 380px;
  }
  
  .practice-box-bottom-header {
    width: 600px;
  }




@media (max-width: 500px) {
    .sheetname{
        padding: 20px;
    }

    .sheetname p{
        font-size: 1rem;
    }

    /* Practice Box */
    .practice-box-header {
        flex-direction: column;
      }

      .practice-box-header-content header{
        font-size: 1.8rem;
        text-align: center;
      }
    
      .practice-box-bottom-img{
        display: flex;
        justify-content: center;
      }
    
      .practice-box-bottom-img img {
        width: 250px;
      }
    
      .practice-box-header-content {
        width: unset;
      }
    
      .practice-box-header-content p {
        font-size: 1rem;
        text-align: center;
      }
    
      .practice-box-header-content h4 {
        font-size: 1.3rem;
      }
    
      .practice-box-header-skeleton {
        width: 290px;
      }


      .showtags label, .shuffle label{
        font-size: 0.9rem;
      }


    /* Filter Section */
    .practice-filter-box {
        grid-template-columns: 1fr;
        margin-bottom: 10px;
      }

    .check{
        /* grid-gap: 90px; */
    }

    .rightfilters{
        grid-template-columns: 1fr;
        grid-gap: 15px;
    }

    .dropdown-box-content {
        margin-bottom: unset;
    }

    .dropdown-box-content select {
        margin-right: unset;
    }

    .problem-search-box {
        width: 334px;
    }


    /* Practice Bottom */
    /* Practice Bottom Box */
  .practice-box-bottom {
    grid-template-columns: 1fr;
    grid-gap: 12px;
  }

  .practice-box-bottom-header {
    font-size: 1.15rem;
    width: unset;
  }

  .practice-box-bottom-header-skeleton {
    width: 290px;
  }

  .practice-box-bottom-header p {
    text-align: center;
    font-size: 0.95rem;
  }

  /* .practice-box-bottom-img{
        display: flex;
        justify-content: center;
        align-items: center;
    } */

  .practice-box-bottom-img img {
    width: 250px;
  }

  .practice-box-bottom-skeleton {
    width: 290px;
  }
}
